ACLY.pdf
ACTR1A.pdf
ADRA2A.pdf
AGPAT1.pdf
AMIGO2.pdf
ANK2.pdf
APOC1.pdf
ARHGAP35.pdf
ARHGDIG.pdf
ARL6IP1.pdf
ARL6IP5.pdf
ARPC1A.pdf
ARPP19.pdf
ATP1A1.pdf
ATP1B1.pdf
ATP6V0B.pdf
ATP6V1B2.pdf
ATP6V1C1.pdf
ATP6V1D.pdf
BNIP3.pdf
C14orf132.pdf
C20orf27.pdf
CADPS.pdf
CAPNS1.pdf
CDKN2D.pdf
CDS2.pdf
CHGB.pdf
CLASP2.pdf
PHLDA1.pdf
PHOX2B.pdf
PLCXD3.pdf
PNMA8A.pdf
PPP2R2B.pdf
PPP3CB.pdf
SLC6A2.pdf
SLC18A2.pdf
SNAP25.pdf
SNAP91.pdf
SV2B.pdf
SV2C.pdf
SYT1.pdf
VAMP2.pdf
CLCN7.pdf
CLSTN3.pdf
CLTB.pdf
CMAS.pdf
CMIP.pdf
CMPK1.pdf
CSDE1.pdf
CTXN1.pdf
CYB561.pdf
DBH.pdf
DCLK1.pdf
DDHD2.pdf
DKK3.pdf
DLK1.pdf
DNAJA4.pdf
DNAJC6.pdf
DPYSL3.pdf
DYNC1H1.pdf
DYNLL2.pdf
EFR3B.pdf
EIF4A2.pdf
ELAVL4.pdf
ELOVL5.pdf
ENC1.pdf
EPDR1.pdf
ERI3.pdf
ETNK1.pdf
FBXO31.pdf
FGF13.pdf
FNDC10.pdf
GABRE.pdf
GAS6.pdf
GDI1.pdf
GLS.pdf
GMFB.pdf
GNAS.pdf
GNG2.pdf
HIF1A.pdf
HIGD1A.pdf
HINT3.pdf
HTRA1.pdf
IDI1.pdf
INPP5F.pdf
ITFG1.pdf
KCNAB2.pdf
KIF3C.pdf
KIF5A.pdf
KIF21A.pdf
LDHA.pdf
LINC00682.pdf
LYNX1.pdf
LYSMD2.pdf
MAP1LC3A.pdf
MAP2K2.pdf
MAP6.pdf
MAPK1.pdf
MAPK8IP1.pdf
MAPK8IP3.pdf
MAPK9.pdf
MORF4L2.pdf
MTPN.pdf
NAGK.pdf
NCOA7.pdf
NCS1.pdf
NFE2L1.pdf
NISCH.pdf
NT5DC2.pdf
NUDCD3.pdf
PAFAH1B1.pdf
PAFAH1B2.pdf
PAIP2.pdf
PAM.pdf
PARM1.pdf
PCDH19.pdf
PDGFD.pdf
PRNP.pdf
PSMD10.pdf
RAB3A.pdf
RAB3B.pdf
RAMP3.pdf
RANGAP1.pdf
RFK.pdf
RGMB.pdf
RHEB.pdf
RNASEK.pdf
RND3.pdf
RNF187.pdf
RPS6KA2.pdf
RUFY3.pdf
RUNDC3A.pdf
SERTM1.pdf
SEZ6.pdf
SKP1.pdf
SLC9A6.pdf
SLC25A1.pdf
SMIM10L2A.pdf
SMIM29.pdf
SNRPN.pdf
SNU13.pdf
SPOCK1.pdf
SSTR2.pdf
STRAP.pdf
SUB1.pdf
SYNGR1.pdf
SYT13.pdf
TAF9.pdf
TBC1D9.pdf
TMEFF1.pdf
TMEM14A.pdf
TMEM35A.pdf
TMEM179.pdf
TMEM222.pdf
TMEM246.pdf
TMEM255A.pdf
TMTC1.pdf
TMX4.pdf
TPGS2.pdf
TPPP3.pdf
TSPYL4.pdf
TUBB3.pdf
UBE2E3.pdf
UCHL1.pdf
USP22.pdf
VAT1L.pdf
YWHAQ.pdf
YWHAZ.pdf
